# MariaDB
MARIADB_SERVER=db
MARIADB_USER=erp_user
MARIADB_PASSWORD=erp_password
MARIADB_DB=erp_db
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root_password

# Backend
PROJECT_NAME="Veliora"
API_V1_STR=/api/v1
BACKEND_CORS_ORIGINS=["http://localhost:5173", "http://localhost"]

# Frontend
VITE_API_URL=http://localhost:8000/api/v1
